html(xmlns='http://www.w3.org/1999/xhtml', xml:lang='en', lang='en')
	head
	meta(http-equiv='content-type', content='text/html; charset=utf-8')
	title Title goes here
	link(rel='stylesheet', href='/css/less.css', type='text/css', media='all')
	link(rel='stylesheet', href='/css/sass.css', type='text/css', media='all')
	
	
	body
		include includes/header.jade
		block content
		include includes/footer.jade